# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# Build
build/
dist/

# Cache
.cache/

# Models (Optional if very large)
models/

# Temporary files
*.tmp